<launch>
  <param name="robot_description" textfile="$(find naoqi_driver)/share/urdf/nao.urdf"/>
  <param name="publish_frequency" value="50"/>
  <!--<param name="my_robot_description" textfile="$(find nao_description)/urdf/naoV50_generated_urdf/nao.urdf"/>-->
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
        <!--<remap from="robot_description" to="my_robot_description" />-->
        <!--<remap from="joint_states" to="/joint_states" />-->
    </node>
    
    <!-- complete robot model with base_footprint -->
  <!--<node pkg="nao_description" type="base_footprint" name="base_footprint" />-->
</launch>
