[Unit]
Description=naoqi driver ROS
After=network.target roscore.service
PartOf=roscore.service
Wants=roscore.service

[Service]
Type=oneshot
WorkingDirectory=/home/odroid

User=odroid
Group=odroid

#Restart=always

ExecStart=/bin/bash .scripts/naoqi_systemd.sh start
RemainAfterExit=true
ExecStop=/bin/bash .scripts/naoqi_systemd.sh stop


[Install]
WantedBy=multi-user.target
